*{
  font-family: "Amazon Ember";
}

      
.dashboard-layout {
    display: flex;
    height: 100vh;
    width: 100%;
}

/* Sidebar */

.sidebar {
    width: 280px;
    flex-shrink: 0;

    overflow-y: auto;
    overflow-x: hidden;

    border-right: 1px solid #e5e7eb;
    background: #fff;
}

/* Main */

.main-content {
    flex: 1;

    overflow-y: auto;

    padding: 20px;
    background: #f8fafc;
}

/* Table */

.table-container {
    width: 100%;
}
/* breadccrumbb */
.breadcrump-Building-Block {
    background-color: black;
}